**/.factorypath
**/.vscode
**/.metadata
**/.settings
**/log_*
**/*.log
**/*.class
uploads
**/node_modules/*

**/.project
**/.factorypath

**/*.ln
**/*.code-workspace

**/*.DS_Store
**/*.bak
**/target
