<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" style="font-size:14px;font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;padding:0;margin:0;color:#333;background-color:#fff; border-bottom: 5px dashed #1d2088">
        <tbody>
            <tr>
                <td style="width: 20%"></td>
                <td valign="middle" style="padding:33px 0; text-align: center"><a href="http://yahobit.coinis.net" target="_blank" rel="noopener noreferrer"><img src="http://yahobit.coinis.net/resources/img/yaho/logo.png" alt="cxa logo" style="border:0;"></a>
                </td>
                <td style="width: 20%"></td>
            </tr>
            <tr>
                <td style="width: 20%"></td>
                <td>
                    <div style="padding:0 30px;background:#f1f1f1;box-shadow:0 0 5px #aaa;">

                        <p style="border-bottom: 1px solid #e6e6e6;font-size:18px;padding:20px 0 5px 0;">
                            {{title}}
                        </p>
                        <p style="font-size:14px;line-height:30px;padding:20px 0 0 0;color:#666;">
                            {{content}}
                        </p>
                        <p style="padding:30px 0 15px 0;font-size:12px;color:#999;line-height:20px;">Yahobit Team<br>Automated message.please do not reply</p>

                    </div>

                </td>
                <td style="width: 20%"></td>
            </tr>
            <tr>
                <td style="width: 20%"></td>
                <td style="font-size:12px;color:#999;padding:20px 0; text-align: center">Copyright© Yahobit All rights Reserved<br>URL：<a style="color:#999;text-decoration:none;" href="#" target="_blank">http://ali-bit.com/</a>&nbsp;&nbsp;E-mail：<a href="mailto:cs@ali-bit.com" style="color:#999;text-decoration:none;" target="_blank">cs@ali-bit.com</a></td>
                <td style="width: 20%"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>